{% extends 'base.html' %}
{% import 'macros.html' as macro %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> NEWS FOR ALL </title>
        {% endif %}
    </head>
    <body>
        <a href="/" class="alert-link">Home</a>
        <hr class="my-3">
        <div class="container" style="margin-top: 20px;  ">
            <div class="row">
                {{macro.displayOtherNews(headlines)}}
            </div>
        </div>
    </body>
</html>
{% endblock %}